.card {
  /* padding: 0.5em 0; */
  max-height: 300px;
  max-width: 120px;
  height: 100%;
  width: 100%;

  border: 1px solid black;
  border-radius: 10px;
  /* box-sizing: border-box; */

  /* font-style: italic; */
  position: relative;
  overflow: hidden;
  transition: all 250ms ease;

  .card-content {
    transition: all 250ms ease;
    opacity: 0;
  }
}

.peek-cards,
.display-card {
  .card-content {
    opacity: 1;
  }
}

.selected {
  @apply scale-150;
  @apply z-50;
}
.selected .card-content {
  opacity: 1;
  background: transparent;
}

.hearts,
.diamonds {
  color: var(--color-red-500);
}

.clubs,
.spades {
  color: var(--color-black);
}
